@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");

@font-face {
  font-family: GeometriaMedium;
  src: url("../fonts/Geometria-Medium.otf.otf") format("opentype");
}

@font-face {
  font-family: GeometriaHeavy;
  src: url("../fonts/Geometria-Heavy.ttf") format("truetype");
}

/*
Dubhacks pink: #EF60A3
Dubhacks blue: #2B39BF
*/

html,
body {
  padding: 0;
  margin: 0;
}

html {
  height: calc(100% - 36px);
  width: calc(100% - 36px);
  border: 18px #2b39bf solid;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 80vw;
  max-height: 64px;
  padding: 32px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin: 16px 0;
}

.hero-img {
  max-width: 80vw;
  max-height: 40vh;
}

.container_form {
  width: 100vw;
  margin-top: 50vh;
}

.container_form_form {
  display: flex;
  justify-content: center;
}

.input-group {
  width: 275px;
  border: #2b39bf 2px solid !important;
  border-radius: 5rem !important;
  padding-left: 10px;
  background-color: white;

  display: flex;
  align-items: center;
}

.form-control {
  border: none !important;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 0px !important;
  background: transparent !important;
  transition: none !important;
  outline: none;
  box-shadow: none !important;
  border: none !important;

  height: 26px;
  flex-grow: 1;
}

.form-submit-button {
  height: 24px;
  padding: 2px 4px;
  opacity: 0.6;
  transition: opacity 100ms;
}

.form-submit-button:hover {
  opacity: 1;
}

.input-group-prepend input {
  height: 100%;
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.subtitle {
  font-family: GeometriaMedium, sans-serif;
  font-size: 2vw;
  text-align: center;
  margin-top: calc(-5vw);
  position: fixed;
}

.info_date {
  font-family: GeometriaHeavy, sans-serif;
  font-size: 22px;
  color: #ef60a3;
}

.info_footer {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.container_info_icons {
  display: flex;
}

.container_info_icons > a {
  padding: 0 8px;
}
