@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

@font-face {
    font-family: GeometriaMedium;
    src: url("../fonts/Geometria-Medium.otf.otf") format("opentype");
}

@font-face {
    font-family: GeometriaHeavy;
    src: url("../fonts/Geometria-Heavy.ttf") format("truetype");
}

html {
    height: 100%;
    width: 100%;
    border: 18px #2B39BF solid;
}

body {
    width: 100%;
    height: 100%;
}

.mobile_view {
    display: none;
}

.container_bgd {
    height: calc(100% - 36px);
    width: calc(100% - 36px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
}

.container_bgd img {
    flex-shrink: 0;
    max-width: 70%;
    max-height: 70%;
    margin-top: -10vh
}

.container_body {
    height: calc(100% - 36px);
    width: calc(100% - 36px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.subtitle {
    font-family: GeometriaMedium, sans-serif;
    font-size: 2vw;
    text-align: center;
    margin-top: calc(-5vw);
    position: fixed;
}

.container_form {
    width: 100vw;
    margin-top: 50vh;
}

.container_form_form {
    display: flex;
    justify-content: center;
}

.input-group {
    width: 275px;
    border: #2B39BF 2px solid !important;
    border-radius: 5rem !important;
    padding-left: 10px;
    background-color: white;
}

.form-control {
    border: none !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0px !important;
    background: transparent !important;
    transition: none !important;
    outline: none;
    box-shadow:none !important;
    border: none !important;
}

.input-group-prepend input {
    height: 100%;
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.container_info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}

.info_date {
    font-family: GeometriaHeavy, sans-serif;
    font-size: 22px;
    color: #EF60A3;
}

.info_footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.container_info_icons {
    padding-top: 20px;
}

.container_info_icons img {
    height: 24px;
    width: 24px;
    margin-left: 1vw;
    margin-right: 1vw;
}

@media screen and (max-width: 600px) {
    .web_view {
        display: none;
    }
    
    .mobile_view {
        display: flex !important;
    }

    .container_info {
        padding-top: 5px;
    }

    .info_date {
        font-size: 20px;
    }

    .info_footer {
        font-size: 10px;
    }

    .input-group {
        max-width: 275px;
    }
}

@media screen and (max-width: 400px) {
    .container_form_mobile {
        padding-top: 35vh !important;
    }

    .input-group {
        max-width: 250px;
    }
}

.mobile_view {
    display: none;
    justify-content: center;
}

.container_bgd_mobile {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container_bgd_mobile img {
    max-height: 100vh;
    max-width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

.container_body_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.subtitle_mobile {
    font-family: GeometriaMedium, sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin-top: 15vh;
}

.container_form_mobile {
    padding-top: 45vh;
}

a:hover {
    color: white;
}